*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #EAEAEA;
}

.sprite{
    background: url("a.jpg");
    height: 118px;
    width: 190px;
    background-position: 0px -29px;
    animation: move 1s steps(4) infinite;
}

.sprite-2 {
    background: url("img/lanzamiento/full-sprite.png");
    height: 118px;
    width: 190px;
    background-position: -1200px -822px;
    animation: move-1 1s steps(9) infinite;
}

@keyframes move-1 {
    to {
        background-position: -2560px -822px;
    }
}

@keyframes move {
    to {
        background-position: -760px -29px;
    }
}