body {
}

.section{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    width: 98vw;

    /* border: 2px solid black;
    margin-bottom: 20px; */

    /* opacity: 0; */

    /* transition: opacity 1s ease 0s; */
}

.section p {
    transition: opacity 1s ease 0s;
    width: 60%;
}

.section img {
    position: fixed;
    left: calc(25% - 75px);
    top: calc(30vh - 75px);
    width: 150px;
    height: 150px;

    opacity: 0; /* para que no aparezcan todas las img juntas */
}
.col-1 {
    grid-column: 1 / 2;
}

.col-2 {
    grid-column: 2 / 3;
}

.filler-content {
    background: teal;
    height: 100vh;
}