.on-scroll-content {
    margin-bottom: 200px;
}

.section{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 40vh;
    width: 98vw;
}

.section p {
    transition: opacity 1s ease 0s;
    width: 60%;
}

.section img {
    position: fixed;
    left: calc(25% - 75px);
    top: calc(30vh - 75px);
    width: 150px;
    height: 150px;

    opacity: 0; /* para que no aparezcan todas las img juntas */
    transition: opacity 0.3ms ease 0s;
}

.col-1 {
    grid-column: 1 / 2;
}

.col-2 {
    grid-column: 2 / 3;
}

.filler-content {
    background: #ffeeac;
    height: 50vh;
}

.titulo-seccion {
    position: relative;
    top: -30px;
    text-align: center;
    font-size: 98px;
}

.historia {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.container-historia {
    display: grid;
    justify-items: center;
    align-items:flex-start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.onscroll-img-1 { grid-area: 1 / 1 / 2 / 2; }
.onscroll-img-2 { grid-area: 2 / 1 / 3 / 2; }
.onscroll-img-3 { grid-area: 3 / 1 / 4 / 2; }
.onscroll-text { grid-area: 1 / 2 / 4 / 3; }

.container-historia img {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    opacity: 0;
    transform: translate(-110%, -50%);
    transition: opacity 0.3s ease-in;
    border-radius: 20px;
}

.col-1 {
    grid-column: 1 / 2;
}

.col-2 {
    grid-column: 2 / 3;
}

.texto-historia {
    position: sticky;
    left: 60%;
    width: 50%;
    transform: perspective(300px) rotateX(30deg);
    height: 50vh;
    padding-right: 10px;
    overflow-y: hidden;

}

.texto-historia p {
    text-align: justify;
    font-family: Steelfish;
    font-size: 48px;
}

.titulo-texto {
    font-family: Steelfish;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

p, h2 {
    color: black;
}