*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'JetBrains Mono', monospace;
}

.punto7{
    position: block;
    display: flex;
}

.col1, .col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50vw;
    height: 1000px;
}

.col1, .col3{
    background-color: aquamarine;
}

.col2{
    background-color: brown;
}

.sec-img{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 100px;
    align-items: center;
}

.sec-img img{
    /* width: 80%; */
    width: 40%;
    position: fixed;
}

.cuadrado{
    width: 100px;
    height: 100px;
}

#contenido{
    position: absolute;
}