body {
    width: 100%;
    height: 100%;
}

.parallax-container {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #0E151F;
    overflow: hidden;
}

.parallax-container img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    transition: all 0.05s linear;
}

.parallax-container .parallax-sun {
    top: -50px;
}